.advancedfilter-main {
    background: url(icons/advancedfilter/main.png) no-repeat scroll center center transparent;
} 
.advancedfilter-help {
    background: url(icons/advancedfilter/help.png) no-repeat scroll center center transparent;
} 
.advancedfilter-list {
    background: url(icons/advancedfilter/list.png) no-repeat scroll center center transparent;
} 
